<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sistem Akademic Aman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ===== FORM INPUT ===== -->
  <ion-card>
    <ion-card-content>

      <ion-input
        label="Nama"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="namaBaru">
      </ion-input>

      <br>

      <ion-input
        label="Jurusan"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="jurusanBaru">
      </ion-input>

      <br>

      <ion-button
        expand="block"
        color="success"
        (click)="kirimData()">
        Kirim ke Server
      </ion-button>

    </ion-card-content>
  </ion-card>


  <!-- ===== LIST DATA ===== -->
  <ion-list>
    <ion-item *ngFor="let mhs of listMahasiswa">
      <ion-label>
        <h2>{{ mhs.nama }}</h2>
        <p>{{ mhs.jurusan }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
